<section class="choice">
  <div class="container">
    <div class="choice-content">
      <h1 class="choice-title common-title">Выберите <span>тему теста</span></h1>
      <div class="choice-description">Чтобы начать тест, выберите одну из предложенных ниже тем.</div>
      <div class="choice-options" id="choice-options">


          @for (quiz of quizzes(); track quiz.id) {
            <div class="choice-option" (click)="chooseQuiz(quiz.id)">
              @if (quiz.result) {
                <div class="choice-option-result">
                  <div>Результат</div>
                  <div>{{ quiz.result }}</div>
                </div>
              }
              <div class="choice-option-arrow"><img src="assets/images/arrow.png" alt="Стрелка"></div>
              <div class="choice-option-text">{{ quiz.name }}</div>
            </div>
          }

      </div>
    </div>
    <div class="choice-image">
      <img src="assets/images/choice_image.png" alt="Персонажи">
    </div>
  </div>
</section>
