<section class="main">
  <div class="container">
    <div class="main-content">
      <h1 class="big-title">Проверь свои знания JavaScript вместе с <span>АйтилогияQuiz</span>!</h1>
      <div class="main-description">Мы поможем подготовиться к контрольному заданию или тесту по JavaScript!</div>
      <div class="main-button"><a class="button" routerLink="/signup">Начать тест</a></div>
    </div>
    <div class="main-image">
      <img src="assets/images/main_image.png" alt="Главная картинка">
    </div>
  </div>
</section>

