.main {
  padding-top: 190px;
  padding-bottom: 231px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .main-content {
      max-width: 588px;

      .main-description {
        margin-top: 40px;
        font-size: 20px;
        max-width: 486px;
      }
      .main-button {
         margin-top: 60px;
       }
    }
  }
}




