<section class="test">
  @if (quiz()) {
    <div class="container">
      <div class="test-pre-title common-title" id="pre-title">
        {{ quiz().name }}
      </div>
      <div class="test-progress-bar" id="progress-bar">

        @for (item of quiz().questions; track $index) {

          <div class="test-progress-bar-item" [class.active]="currentQuestionIndex === $index + 1 "
               [class.complete]="currentQuestionIndex > $index + 1 ">
            <div class="test-progress-bar-item-circle"></div>
            <div class="test-progress-bar-item-text">Вопрос {{ $index + 1 }}</div>
          </div>

        }

      </div>

      <div class="test-question">
        <div class="common-question-title" id="title">
          <span> Вопрос {{ currentQuestionIndex }}:</span> {{ activeQuestion.question }}
        </div>
        <div class="test-question-options" id="options">
          @for (answer of activeQuestion.answers; track $index) {
            <div class="test-question-option">
              <input class="option-answer" id="answer-{{answer.id}}" type="radio" name="answer"
                     [(ngModel)]="chosenAnswerId" [value]="answer.id">
              <label for="answer-{{answer.id}}">{{ answer.answer }}.</label>
            </div>
          }
        </div>
      </div>
      <div class="test-actions">
        <div class="test-previous-action">
          <button class="button button-transparent" [disabled]="currentQuestionIndex ===1"
                  (click)="move(actionTestType.prev)">Назад
          </button>
        </div>
        <div class="test-time">
          <div class="test-time-text">Осталось времени</div>
          <div class="test-time-clock" id="timer">{{ timerSeconds() }}</div>
        </div>
        <div class="test-next-action">
          <button class="button button-transparent" [disabled]="!chosenAnswerId" (click)="move(actionTestType.next)">
            {{ currentQuestionIndex === quiz().questions.length ? 'Завершить' : 'Далее' }}
          </button>
        </div>
      </div>
      <div class="test-pass-question">
        <a href="javascript:void (0)" id="pass" (click)="move(actionTestType.pass)">Пропустить вопрос <img
          src="assets/images/small_arrow.png"
          alt="Стрелка"></a>
      </div>

    </div>
  }
</section>

