@font-face {
  src: url("../fonts/Museo_Sans_Cyrl_500.ttf");
  font-family: "Museo Sans Cyrl";
}

@font-face {
  src: url("../fonts/Museo_Sans_Cyrl_700.ttf");
  font-family: "Museo Sans Cyrl Bold";
}
