<header class="header">
  <div class="container">
    <a routerLink="/"   class="logo">
      <img src="/assets/images/logo.png" alt="Логотип">
    </a>


    @if (userInfo() && userInfo()?.fullName ){
         <div class="profile" id="profile">
        <img src="/assets/images/profile.png" alt="Профиль" class="profile-image">
        <div class="profile-info">
          <div class="profile-user" id="profile-full-name">{{ userInfo()?.fullName }}</div>
          <a  class="profile-logout" (click)="logout()">Выйти</a>
        </div>
      </div>
    }

  </div>
</header>
